<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="left-sidebar">
        <div class="players-last-action">

        </div>
    </div>
    <main>
        <img class="meme-template" src="{ template_image_uri }" alt="Squid game meme template">
        <div class="reroll-section">
            <span>{ remaining_rerolls } Rerolls remaining</span>
            <form action="/reroll" method="post">
                <button type="submit">
                    <span>&#x1F3B2; Reroll</span>
                </button>
            </form>
        </div>
        <form action="" method="post" class="label-inputs" target="_blank">
        {{ for i in labels }}
            <input type="text" name="label-{ i }" id="">    
        {{ endfor }}
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>