<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Players</p>
    <ul>
    {{ for player in players }}
        <li>
            {{ if player.is_logged_in_user }}
            <span>You: </span>
            {{ endif }}
            <span>{ player.name }</span>
        </li>
    {{ endfor }}
    </ul>
    <a href="/ingame">Start</a>
    <a href="/gallery">View Gallery</a>
    <div class="player-icons"><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""></div>
</body>
</html>